{
  "isAutofishEnabled": false,
  "multiRod": true,
  "isOpenWaterDetectEnabled": true,
  "noBreak": true,
  "persistentMode": false,
  "disableInGUI": false,
  "useSoundDetection": false,
  "forceMPDetection": false,
  "autoTurnView": false,
  "turnAngle": 30.0,
  "turnDuration": 500,
  "recastDelay": 1500,
  "randomPercent": 25,
  "reelInDelay": 70,
  "clearLagRegex": "\\[ClearLag\\] Removed [0-9]+ Entities!"
}